<div
  class="modal fade"
  id="m-2"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModal"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true"> {% include "@images/close.svg" %} </span>
        </button>
      </div>
      <div class="modal-body">
        <article class="article">
          <div class="article__img">
            <img src="images/content/2.jpeg" alt="" />
          </div>
          <div class="article__info">
            <div class="article__date">2016</div>
            <div class="tag"><span>muži</span></div>
          </div>
          <div class="article-content o-content">
            <h2>11. října Den, kdy NBA dorazila na Slovensko</h2>
            <p>
              Jiří Welsch (* 27. ledna 1980, Holice[1]) je český profesionální
              basketbalista. V NBA v letech 2002–2006 celkem odehrál 247 zápasů,
              z toho 102 v základní pětce a zaznamenal 1519 bodů[2]. V prestižní
              severoamerické NBA se jedná o zatím historicky 2. nejúspěšnějšího
              českého hráče.
            </p>
            <ul>
              <li>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Placeat, quos.
              </li>
              <li>
                <p>sdasdsad dsads</p>
              </li>
              <li>
                <a href="#"> Lorem ipsum dolor sit amet consectetur</a>
              </li>
            </ul>
          </div>
          <div class="article-media">
            <h3>média</h3>
            <div class="article-media__inner animated-thumbnail">
              <figure>
                <a
                  href="images/content/2.jpeg"
                  style="margin-left: 10px; margin-right: 10px"
                  ><img src="images/content/2.jpeg"
                /></a>
              </figure>
              <figure>
                <iframe
                  width="560"
                  height="315"
                  src="https://www.youtube.com/embed/ojWE59DaLsw"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  allowfullscreen
                ></iframe>
              </figure>
              <figure>
                <a
                  href="images/content/1.jpeg"
                  style="margin-left: 10px; margin-right: 10px"
                  ><img src="images/content/1.jpeg"
                /></a>
              </figure>
              <figure>
                <a
                  href="images/content/2.jpeg"
                  style="margin-left: 10px; margin-right: 10px"
                  ><img src="images/content/2.jpeg"
                /></a>
              </figure>
              <figure>
                <a
                  href="https://4.bp.blogspot.com/-udI8g-T4oLU/Wm7_7gFgX5I/AAAAAAAAN-4/eDjcDOBeWdkxjBop_YzyJeuAIplOsm8ogCLcBGAs/s1600/81651.jpg"
                  style="margin-left: 10px; margin-right: 10px"
                  ><img
                    src="https://4.bp.blogspot.com/-udI8g-T4oLU/Wm7_7gFgX5I/AAAAAAAAN-4/eDjcDOBeWdkxjBop_YzyJeuAIplOsm8ogCLcBGAs/s640/81651.jpg"
                /></a>
              </figure>
              <figure>
                <a
                  href="https://1.bp.blogspot.com/--rMwWpO1vJA/Wm7_ywQ2x9I/AAAAAAAAN-Q/o7LaowZvlwo-ADwhiuz1V96OwoIQYKHZwCLcBGAs/s1600/4094001-wallpaper-minimalist.jpg"
                  style="margin-left: 10px; margin-right: 10px"
                  ><img
                    src="https://1.bp.blogspot.com/--rMwWpO1vJA/Wm7_ywQ2x9I/AAAAAAAAN-Q/o7LaowZvlwo-ADwhiuz1V96OwoIQYKHZwCLcBGAs/s640/4094001-wallpaper-minimalist.jpg"
                /></a>
              </figure>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="m-1"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModal"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true"> {% include "@images/close.svg" %} </span>
        </button>
      </div>
      <div class="modal-body">
        <article class="article">
          <div class="article__img">
            <img src="images/content/1.jpeg" alt="" />
          </div>
          <div class="article__info">
            <div class="article__date">2016</div>
            <div class="tag"><span>muži</span></div>
          </div>
          <div class="article-content">
            <h2>11. října Den, kdy NBA dorazila na Slovensko</h2>
            <p>
              Jiří Welsch (* 27. ledna 1980, Holice[1]) je český profesionální
              basketbalista. V NBA v letech 2002–2006 celkem odehrál 247 zápasů,
              z toho 102 v základní pětce a zaznamenal 1519 bodů[2]. V prestižní
              severoamerické NBA se jedná o zatím historicky 2. nejúspěšnějšího
              českého hráče.
            </p>
          </div>
          <div class="article-media">
            <h3>média</h3>
            <div class="article-media__inner animated-thumbnail">
              <figure>
                <a
                  href="images/content/2.jpeg"
                  style="margin-left: 10px; margin-right: 10px"
                  ><img src="images/content/2.jpeg"
                /></a>
              </figure>
              <figure>
                <iframe
                  width="560"
                  height="315"
                  src="https://www.youtube.com/embed/ojWE59DaLsw"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  allowfullscreen
                ></iframe>
              </figure>
              <figure>
                <a
                  href="images/content/1.jpeg"
                  style="margin-left: 10px; margin-right: 10px"
                  ><img src="images/content/1.jpeg"
                /></a>
              </figure>
              <figure>
                <a
                  href="images/content/2.jpeg"
                  style="margin-left: 10px; margin-right: 10px"
                  ><img src="images/content/2.jpeg"
                /></a>
              </figure>
              <figure>
                <a
                  href="https://4.bp.blogspot.com/-udI8g-T4oLU/Wm7_7gFgX5I/AAAAAAAAN-4/eDjcDOBeWdkxjBop_YzyJeuAIplOsm8ogCLcBGAs/s1600/81651.jpg"
                  style="margin-left: 10px; margin-right: 10px"
                  ><img
                    src="https://4.bp.blogspot.com/-udI8g-T4oLU/Wm7_7gFgX5I/AAAAAAAAN-4/eDjcDOBeWdkxjBop_YzyJeuAIplOsm8ogCLcBGAs/s640/81651.jpg"
                /></a>
              </figure>
              <figure>
                <a
                  href="https://1.bp.blogspot.com/--rMwWpO1vJA/Wm7_ywQ2x9I/AAAAAAAAN-Q/o7LaowZvlwo-ADwhiuz1V96OwoIQYKHZwCLcBGAs/s1600/4094001-wallpaper-minimalist.jpg"
                  style="margin-left: 10px; margin-right: 10px"
                  ><img
                    src="https://1.bp.blogspot.com/--rMwWpO1vJA/Wm7_ywQ2x9I/AAAAAAAAN-Q/o7LaowZvlwo-ADwhiuz1V96OwoIQYKHZwCLcBGAs/s640/4094001-wallpaper-minimalist.jpg"
                /></a>
              </figure>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
