.o-content {
  a {
    color: inherit;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
  }
  p {
    margin-bottom: 24px;
    font-family: "Inter", sans-serif;
  }
  li p {
    margin-bottom: 0;
  }
  ul {
    color: rgba(0, 17, 15, 1);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin: 0px 0 24px;
    > li {
      position: relative;
      padding-left: 24px;
      &::before {
        content: "";
        background-color: var(--color-primary);
        position: absolute;
        top: 10px;
        left: 0;
        width: 8px;
        height: 8px;
      }
      > ul {
        margin: 16px 0 0;
        > li {
          &::before {
            border-radius: 50%;
          }
        }
      }
    }
  }
  ol {
    font-family: "Inter", sans-serif;
    color: rgba(0, 17, 15, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;

    margin: 24px 0;
    counter-reset: item;

    > li {
      counter-increment: item;
      position: relative;
      padding-left: 32px;
      &::before {
        content: counter(item) ")";
        color: var(--color-primary);
        font-weight: 700;
        position: absolute;
        top: 0;
        left: 0;
      }
      > ol {
        margin: 16px 0 0;
        > li {
          &::before {
            content: counter(item) ".";
          }
        }
      }
    }
  }
  &::after {
    display: table;
    clear: both;
    content: "";
  }
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
}
