.header {
  &__content {
    margin: 0 auto;
    text-align: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    max-width: 80rem;
    margin-bottom: 36px;
    .btn {
      text-transform: uppercase;
      font-size: 16px;
      cursor: pointer;
      position: relative;
      z-index: 10;
    }
    h1 {
      font-family: "Druk";
      font-size: 100px;
      text-transform: uppercase;
      line-height: 100%;
      margin-bottom: 36px;
      @include media-breakpoint-down(xl) {
        font-size: 60px;
        padding: 0 20px;
      }
    }
    &-logo {
      width: 214px;
      display: block;
      margin-bottom: 80px;
      @include media-breakpoint-down(lg) {
        width: 180px;
      }
      img {
        width: 100%;
        height: 100%;
        display: block;
      }
    }
  }
  &__img {
    width: 100%;
    max-width: 2060px;
    margin: 0 auto 40px;
    padding: 0 20px;
    @include media-breakpoint-down(xl) {
      padding: 0;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.header-scroll.scrolled {
  visibility: visible;
  opacity: 1;

  z-index: 9999;
}
.header-scroll {
  justify-content: space-between;
  z-index: 9999;
  display: flex;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  max-width: 1920px;
  padding-top: 40px;
  top: 0;
  position: fixed;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 64px;
  transition: all 0.3s;
  left: 0;
  right: 0;
  @media (max-width: 941px) {
    background-color: #f7f7f7;
    padding: 20px;
  }
  .btn {
    font-size: 14px;
    padding-top: 0;
    padding-bottom: 0;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo {
    width: 186px;
    display: block;
    @media (max-width: 941px) {
      width: 120px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
