<header class="header" id="header">
  <div class="header__img">
    <img src="images/content/top-img.png" alt="top" loading="lazy" />
  </div>
  <div class="header__content">
    <a href="#" class="header__content-logo">
      <img src="images/ico/logo-main.svg" alt="" />
    </a>
    <h1>
      <span class="text-blue">Oslavte</span> s námi
      <span class="text-primary">100 let</span> česko (slovenského) basketbalu!
    </h1>
    <div class="btn btn-primary">OBJEVIT HISTORII</div>
  </div>
  <div class="header-scroll">
    <a href="#" class="logo">
      <?xml version="1.0" encoding="UTF-8"?>
      <svg
        width="186px"
        height="56px"
        viewBox="0 0 186 56"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
      >
        <title>atom / logo</title>
        <g
          id="✅-ToCode"
          stroke="none"
          stroke-width="1"
          fill="none"
          fill-rule="evenodd"
        >
          <g id="2-Scroll-1920" transform="translate(-40, -40)">
            <g id="atom-/-logo" transform="translate(40, 40)">
              <path
                d="M29.8512081,8.30912157 C27.3061746,5.70594942 24.3353944,3.66164679 21.0213716,2.23229181 C17.5876863,0.7506822 13.939868,7.10542736e-15 10.1786852,7.10542736e-15 L10.1786852,4.55188706 C13.3295891,4.55188706 16.384133,5.18021698 19.256664,6.41839654 C21.4760893,7.37682271 23.5109824,8.66470788 25.3279638,10.2571992 C23.7540864,12.4289522 21.7960292,14.1450703 19.4909506,15.3724166 C16.7670532,16.8221636 13.6337838,17.5569145 10.1786852,17.5569145 L10.1786852,22.1094388 C14.3719128,22.1094388 18.2093018,21.1981693 21.585675,19.4004829 C24.2711545,17.971128 26.5774927,16.0262366 28.4681609,13.5995831 C31.1763133,17.1063777 32.8251373,21.2854727 33.2452158,25.723929 L10.1786852,25.723929 L10.1786852,30.2758161 L33.2452158,30.2758161 C32.8251373,34.7149096 31.1763133,38.8946419 28.4681609,42.4014365 C26.5774927,39.9741458 24.2711545,38.0286171 21.585675,36.5992622 C18.2093018,34.8022131 14.3719128,33.8903063 10.1786852,33.8903063 L10.1786852,38.4421933 C13.6337838,38.4421933 16.7670532,39.1782187 19.4909506,40.6273285 C21.7960292,41.8546748 23.7534566,43.5714302 25.3279638,45.7425459 C23.5109824,47.3350372 21.4760893,48.6235596 19.256664,49.5807113 C16.384133,50.8195281 13.3295891,51.4484953 10.1786852,51.4484953 L10.1786852,55.9997451 C13.939868,55.9997451 17.5876863,55.2490629 21.0213716,53.7687278 C24.3347646,52.3380983 27.3061746,50.2937957 29.8512081,47.6906235 C32.3603427,45.124412 34.3297363,42.1427125 35.7052258,38.8283677 C37.1292102,35.3954942 37.8515941,31.7523277 37.8515941,28.0001912 C37.8515941,24.2474174 37.1292102,20.6048882 35.7052258,17.1713774 C34.3297363,13.8570326 32.3603427,10.8753331 29.8512081,8.30912157"
                id="Fill-7"
                fill="#D81F41"
              ></path>
              <path
                d="M41.9996018,30.2759435 L41.9996018,25.7240565 L65.0655025,25.7240565 C64.6447942,21.2849629 62.9959703,17.1052307 60.2890775,13.598436 C58.3971496,16.0257268 56.0920711,17.9712554 53.4065916,19.4006104 C50.0302183,21.1982967 46.1915698,22.1095663 41.9996018,22.1095663 L41.9996018,17.557042 C45.4547004,17.557042 48.5879697,16.8222911 51.3118672,15.3719068 C53.6169458,14.1451977 55.5743731,12.4284424 57.1488803,10.2573267 C55.331899,8.66483533 53.2963761,7.37695016 51.0769507,6.41852399 C48.2050496,5.18034443 45.1505056,4.55201451 41.9996018,4.55201451 L41.9996018,0.000127450289 C45.7607846,0.000127450289 49.4079731,0.750809651 52.8410286,2.23241926 C56.1556812,3.66177424 59.1270912,5.70607688 61.6721246,8.30924902 C64.1812593,10.8754606 66.1506529,13.8571601 67.5261424,17.1715048 C68.9501267,20.6050156 69.6725106,24.2475449 69.6725106,28.0003186 C69.6725106,31.7524551 68.9501267,35.3956216 67.5261424,38.8284952 C66.1506529,42.1428399 64.1812593,45.1245394 61.6721246,47.690751 C59.1270912,50.2939231 56.1556812,52.3382258 52.8410286,53.7688552 C49.4079731,55.2491903 45.7607846,55.9998725 41.9996018,55.9998725 L41.9996018,51.4486227 C45.1505056,51.4486227 48.2050496,50.8196556 51.0769507,49.5808388 C53.2963761,48.6236871 55.331899,47.3351647 57.1488803,45.7426733 C55.5743731,43.5715576 53.6169458,41.8548023 51.3118672,40.627456 C48.5879697,39.1777089 45.4547004,38.4423208 41.9996018,38.4423208 L41.9996018,33.8904337 C46.1915698,33.8904337 50.0302183,34.8023405 53.4065916,36.5993896 C56.0920711,38.0287446 58.3971496,39.9742732 60.2890775,42.4009267 C62.9959703,38.8941321 64.6447942,34.7150371 65.0655025,30.2759435 L41.9996018,30.2759435 Z"
                id="Fill-9"
                fill="#D81F41"
              ></path>
              <polygon
                id="Fill-11"
                fill="#0065A3"
                points="81.2882171 0.331307025 81.2882171 21.9271212 85.9708015 21.9271212 85.9708015 25.8755311 77.4539772 25.8755311 77.4539772 0.331307025"
              ></polygon>
              <polygon
                id="Fill-13"
                fill="#0065A3"
                points="95.8111567 0.331307025 95.8111567 4.03883592 90.9251459 4.03883592 90.9251459 10.7337996 94.7593858 10.7337996 94.7593858 14.6146609 90.9251459 14.6146609 90.9251459 21.9959443 96.014583 21.9959443 96.014583 25.8755311 87.090906 25.8755311 87.090906 0.331307025"
              ></polygon>
              <polygon
                id="Fill-15"
                fill="#0065A3"
                points="106.906646 0.331307025 106.906646 4.03883592 103.683315 4.03883592 103.683315 25.8755311 99.8824544 25.8755311 99.8824544 4.03883592 96.6591233 4.03883592 96.6591233 0.331307025"
              ></polygon>
              <path
                d="M81.2882171,44.0298689 L81.2882171,52.0643351 L82.4413862,52.0643351 C83.6632038,52.0643351 83.9346488,51.4806128 83.9346488,50.3469424 L83.9346488,45.6784384 C83.9346488,44.6135912 83.6632038,44.0298689 82.4413862,44.0298689 L81.2882171,44.0298689 Z M81.2882171,33.5923275 L81.2882171,40.218468 L82.4413862,40.218468 C83.4937868,40.218468 83.7652318,39.4977366 83.7652318,38.4335267 L83.7652318,35.2064854 C83.7652318,34.1416382 83.4937868,33.5923275 82.4413862,33.5923275 L81.2882171,33.5923275 Z M77.4539772,30.1244051 L83.4937868,30.1244051 C86.6490992,30.1244051 87.5314531,31.8073862 87.5314531,34.2786473 L87.5314531,38.1932829 C87.5314531,40.3561143 86.6157197,41.3521383 85.6319676,41.7293912 C86.6157197,42.1072813 87.8369075,42.8968358 87.8369075,45.4719689 L87.8369075,51.0001252 C87.8369075,53.7116301 86.6490992,55.6686292 83.7652318,55.6686292 L77.4539772,55.6686292 L77.4539772,30.1244051 Z"
                id="Fill-17"
                fill="#0065A3"
              ></path>
              <path
                d="M92.6550255,47.0512054 L94.656539,47.0512054 L93.6394074,37.609688 L92.6550255,47.0512054 Z M95.0640215,50.8626063 L92.247543,50.8626063 L91.7726716,55.6687567 L88.3459142,55.6687567 L91.4332079,30.1245326 L95.9803847,30.1245326 L99.2717345,55.6687567 L95.573532,55.6687567 L95.0640215,50.8626063 Z"
                id="Fill-19"
                fill="#0065A3"
              ></path>
              <path
                d="M105.446952,29.8843525 C108.602894,29.8843525 109.824712,31.2914037 109.824712,34.3138873 L109.824712,38.5019038 L106.12525,38.5019038 L106.12525,34.8281492 C106.12525,33.9697715 105.955833,33.3178633 105.039469,33.3178633 C104.123736,33.3178633 103.92031,33.9015856 103.92031,35.1028046 L103.92031,35.5839294 C103.92031,37.0253922 104.191125,37.815584 105.480961,39.4979278 L107.923967,42.6911948 C109.654665,44.9566237 110.196925,46.227303 110.196925,49.1459146 L110.196925,49.9698808 C110.196925,53.7118212 108.636274,55.944113 105.243525,55.944113 L104.497209,55.944113 C101.409286,55.944113 99.8139948,54.2617692 99.8139948,51.1029138 L99.8139948,45.9870592 L103.614225,45.9870592 L103.614225,50.4503684 C103.614225,51.6522246 104.021708,52.2353096 104.870052,52.2353096 C105.786416,52.2353096 106.12525,51.6522246 106.12525,50.0380667 L106.12525,49.4543443 C106.12525,47.6005799 105.955833,47.0168576 104.564598,45.1624559 L102.121593,42.0036005 C100.492922,39.8758179 100.017421,38.2272484 100.017421,35.6865269 L100.017421,34.8625608 C100.017421,31.42905 101.71411,29.8843525 104.734645,29.8843525 L105.446952,29.8843525 Z"
                id="Fill-21"
                fill="#0065A3"
              ></path>
              <polygon
                id="Fill-23"
                fill="#0065A3"
                points="115.253172 55.6690116 111.418932 55.6690116 111.418932 30.1247875 115.253172 30.1247875 115.253172 40.3564967 118.273076 30.1247875 122.005918 30.1247875 118.442493 42.0037916 122.379391 55.6690116 118.442493 55.6690116 115.253172 44.5789247"
              ></polygon>
              <polygon
                id="Fill-25"
                fill="#0065A3"
                points="131.744056 30.1247875 131.744056 33.8329536 126.858045 33.8329536 126.858045 40.5272801 130.692285 40.5272801 130.692285 44.4081413 126.858045 44.4081413 126.858045 51.7894248 131.947483 51.7894248 131.947483 55.6690116 123.023806 55.6690116 123.023806 30.1247875"
              ></polygon>
              <polygon
                id="Fill-27"
                fill="#0065A3"
                points="142.839609 30.1247875 142.839609 33.8329536 139.616277 33.8329536 139.616277 55.6690116 135.815417 55.6690116 135.815417 33.8329536 132.592086 33.8329536 132.592086 30.1247875"
              ></polygon>
              <path
                d="M147.759503,44.0298689 L147.759503,52.0643351 L148.912672,52.0643351 C150.134489,52.0643351 150.406564,51.4806128 150.406564,50.3469424 L150.406564,45.6784384 C150.406564,44.6135912 150.134489,44.0298689 148.912672,44.0298689 L147.759503,44.0298689 Z M147.759503,33.5923275 L147.759503,40.218468 L148.912672,40.218468 C149.965702,40.218468 150.236517,39.4977366 150.236517,38.4335267 L150.236517,35.2064854 C150.236517,34.1416382 149.965702,33.5923275 148.912672,33.5923275 L147.759503,33.5923275 Z M143.925263,30.1244051 L149.965702,30.1244051 C153.120385,30.1244051 154.002739,31.8073862 154.002739,34.2786473 L154.002739,38.1932829 C154.002739,40.3561143 153.087005,41.3521383 152.103253,41.7293912 C153.087005,42.1072813 154.308193,42.8968358 154.308193,45.4719689 L154.308193,51.0001252 C154.308193,53.7116301 153.120385,55.6686292 150.236517,55.6686292 L143.925263,55.6686292 L143.925263,30.1244051 Z"
                id="Fill-29"
                fill="#0065A3"
              ></path>
              <path
                d="M159.126437,47.0512054 L161.127951,47.0512054 L160.110819,37.609688 L159.126437,47.0512054 Z M161.535433,50.8626063 L158.718955,50.8626063 L158.244083,55.6687567 L154.817326,55.6687567 L157.904619,30.1245326 L162.451796,30.1245326 L165.743146,55.6687567 L162.044944,55.6687567 L161.535433,50.8626063 Z"
                id="Fill-31"
                fill="#0065A3"
              ></path>
              <polygon
                id="Fill-33"
                fill="#0065A3"
                points="170.323765 30.1247875 170.323765 51.7206017 175.00635 51.7206017 175.00635 55.6690116 166.489525 55.6690116 166.489525 30.1247875"
              ></polygon>
              <path
                d="M175.719098,30.1247875 L179.621986,30.1247875 L179.621986,50.3473248 C179.621986,51.4465835 179.9942,52.1673149 180.842544,52.1673149 C181.759537,52.1673149 182.098371,51.4803579 182.098371,50.3473248 L182.098371,30.1247875 L186,30.1247875 L186,50.107081 C186,53.7120124 184.575386,55.9774413 181.182638,55.9774413 L180.50308,55.9774413 C177.109703,55.9774413 175.719098,53.8146099 175.719098,50.107081 L175.719098,30.1247875 Z"
                id="Fill-35"
                fill="#0065A3"
              ></path>
              <polygon
                id="Fill-37"
                fill="#0065A3"
                points="0 56 4.68888246 56 4.68888246 0.000254900577 0 0.000254900577"
              ></polygon>
            </g>
          </g>
        </g>
      </svg>
    </a>
    <a href="#" class="btn btn-secondary">Sdílet s přáteli</a>
  </div>
</header>
<script>
  window.addEventListener("scroll", function () {
    var header = document.querySelector(".header-scroll"); // Замените ".header" на селектор вашего заголовка
    var scrollPosition = window.scrollY || document.documentElement.scrollTop;

    if (scrollPosition >= 200) {
      header.classList.add("active"); // Замените "scrolled" на имя класса, который вы хотите добавить
    } else {
      header.classList.remove("active");
    }
  });
</script>
