<header class="header" id="header">
  <div class="header__img">
    <img src="images/content/top-img.png" alt="top" loading="lazy" />
  </div>
  <div class="header__content">
    <a href="#" class="header__content-logo">
      <img src="images/ico/logo-main.svg" alt="" />
    </a>
    <h1>
      <span class="text-blue">Oslavte</span> s námi
      <span class="text-primary">100 let</span> česko (slovenského) basketbalu!
    </h1>
    <div class="btn btn-primary">OBJEVIT HISTORII</div>
  </div>
  <div class="header-scroll">
    <a href="#" class="logo">
      <img src="images/ico/logo-main.svg" alt="" />
    </a>
    <a href="#" class="btn btn-secondary">Sdílet s přáteli</a>
  </div>
</header>
