<footer class="footer">
  <div class="footer__inner">
    <a href="#" class="footer__logo">
      <img src="images/ico/logo-main.svg" alt="" />
    </a>
    <div class="copyright">Copyright © 2009 - 2023 CZ.BASKETBALL</div>
    <ul class="footer__links">
      <li>
        <a href="#">eSportsmedia.cz</a>
      </li>
      <li>
        <a href="">Nastavení cookies</a>
      </li>
    </ul>
  </div>
</footer>
