@font-face {
  font-family: "Druk";
  src: url("../fonts/Druk-Bold-Web.woff2") format("woff2"),
    url("../fonts/Druk-Bold-Web.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
